<!-- When their are products in table then this card will display -->


<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of products; let i = index">
            <div class="card col-md-3">
                <img src="{{item.Poster}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{item.Title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{item.Plot}}</p>
                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>

        </ng-container>

        <div class="row">
            <div class="col-md-2">
                <button (click)="emptycart()" class="btn btn-danger">Remove</button>

            </div>
            <div class="col-md-2">
                <button routerLink="/home" class="btn btn-primary">Shop More</button>

            </div>

        </div>

    </div>
</div>

<!-- when their are no products in table then this card will display -->

<ng-container *ngIf="products.length ==0">

    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>