.example-card {
  width: auto;
  height: 600px;
  margin-bottom: 8px;
  background-color: #000;
  color: #fff;
}

.alltext {
  color: rgb(105, 102, 102);
  font-size: 15px;
}
img {
  height: 400px;
}
strong {
  color: #fff;
  font-size: 16px;
}
.card-content {
  background-color: #fff;
  color: #000;
}

.text-p {
  color: gray;
  font-size: 16px;
}

.head-p {
  color: #fff;
  font-size: 18px;
}
